@import "tailwindcss";

@theme {
  --color-bg: var(--color-white);
  --color-bg-light: var(--color-gray-50);
  --color-text: var(--color-gray-800);
  --color-text-muted: var(--color-gray-500);
  --color-text-strong: var(--color-gray-900);
  --color-border: var(--color-gray-200);
  --color-border-light: var(--color-gray-100);
}

.selected-block {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 2px;
    height: 100%;
    background-color: var(--color-border);
  }
}
